<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="onlineConnectionString" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString2" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString3" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString4" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString5" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString6" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString7" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString8" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString9" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString10" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString11" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString12" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString13" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString14" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString15" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString16" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString17" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString18" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString19" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString20" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString21" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString22" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString23" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString24" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString25" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString26" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString27" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString28" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString29" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString30" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString31" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString32" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString33" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString34" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString35" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString36" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString37" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString38" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString39" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString40" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString41" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString42" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString43" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString44" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString45" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString46" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString47" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString48" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString49" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString50" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString51" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString52" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString53" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString54" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString55" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString56" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString57" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString58" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString59" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString60" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString61" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString62" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString63" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString64" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString65" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString66" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString67" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString68" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString69" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString70" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString71" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString72" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString73" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString74" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString75" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString76" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString77" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString78" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString79" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString80" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString81" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString82" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString83" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString84" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString85" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString86" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString87" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString88" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString89" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString90" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString91" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString92" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString93" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString94" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString95" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString96" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString97" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString98" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString99" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString100" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString101" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString102" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString103" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString104" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString105" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString106" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString107" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString108" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString109" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString110" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString111" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString112" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString113" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString114" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString115" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString116" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString117" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString118" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString119" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString120" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString121" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString122" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString123" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString124" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString125" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString126" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString127" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString128" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString129" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString130" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString131" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString132" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString133" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString134" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString135" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString136" connectionString="Data Source=co/sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString137" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString138" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString139" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString140" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString141" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString142" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString143" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString144" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString145" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString146" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString147" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString148" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString149" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString150" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString151" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString152" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString153" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString154" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString155" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString156" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString157" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString158" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString159" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="onlineConnectionString160" connectionString="Data Source=co\sqlexpress;Initial Catalog=online;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>